<% if item.allow_comments  %>
  
  <% 
    comments = item.comments
  %>
  <div class="comments_and_rating">
    <%= link_to pluralize(comments.length, _("Comment")), comments_path(:item => item.class.to_s, :item_id => item.id ) -%>
    | 
    <% if item.class.to_s == 'Posting' %>
      <%= link_to _('New comment'), new_comment_path( :posting => item ) -%>
    <% end %>
    <% if item.class.to_s == 'Event' %>
        <%= link_to _('New comment'), new_comment_path( :event => item ) -%>
    <% end %>
    
    <%= render_stars(item.avg_stars,false) -%>
    
  </div>
<% end %>
