.MSIE {
	width: 800px;
	margin: 0px;
	padding: 40px;
	border: 3px solid #D41E0F;
	font-size: 16px;
}

.sortable_menu_items {
	display: inline;
}

.sortable_menu  {
	margin-left: 0px;
	padding-left: 0px;
	display: inline;
}

.main_menu_item {
	display: inline;
	margin-left: 0px;
	padding-left: 0px;
}
