* {margin:0; padding:0;}
html {background: #fff;}
body { background: #fff; color:#666; font:12px/18px arial, Verdana; }
h1, h2, h3, h4, h5, h6 {font-size:12px;}
a {
	color:#0099CC;
	text-decoration:none;
	font-style: normal;
}
li a {text-decoration:none;}

a:visited {}
a:hover {
	color:#666;
	text-decoration:underline;
}
a img {border:none;}
h1 a {
	font-family:Georgia, "Times New Roman", Times, serif;
	letter-spacing:10px;
	height:90px;
	width:180px;
	float:left;
}

#container { width:1000px; background:#fff; margin-right: auto; margin-left: auto; }
.all { text-align: right; }
#header {margin-bottom:15px;}

#header h2 {
	color:#333333;
	font-size:35px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight:700;
	line-height:33px;
	width:540px;
	margin:15px 0 0 10px;
	clear:both;
}
p {font-family: helvetica, Georgia, "Times New Roman", Times, serif; /*letter-spacing:0.13em;*/ margin-bottom:5px;}

.column li {list-style-type:none; border-bottom:1px solid #eee;}
.column ul {width:295px; margin-bottom:20px;}


p.finePrint {
	font:100 10px/13px Arial, Helvetica,  sans-serif;
}
.finePrint.date {letter-spacing:3px; text-transform:uppercase; margin-bottom:8px; color:#666;}
p.chapeau {font:100 19px/19px Arial, Helvetica,  sans-serif; color:#111; margin:10px 0;}
p.chapeau strong {font-weight:100;}

#info {float:right; color:#666; text-align:right;}
#info p {font-family:Arial, Helvetica,  sans-serif; margin:0; font-size:10px;}
.display { background-image: url(/images/wwedu.jpg); width:1000px; height: 315px; clear:both; padding: 0 0 5px; }
.display img { background-image: url(/images/wwedu.jpg); background-repeat: no-repeat; background-attachment: scroll; background-position: 0 0; vertical-align:text-bottom; }
.display p {padding:0;}
.display h3 {padding:0 0 5px 0;}
.display h4 {padding:5px 0;}
.column {float:left;}
.small { text-align: left; width:280px; float: left; max-width: 280px; margin-right:20px; }
.small p {}
.wide {
	width:620px;
	margin-right:5px;
	margin-left: 10px;
}

.intro {font-family:Georgia, "times new roman", sans-serif;}
.intro dl {width:245px;}
.intro dt {float:left; width:90px; color:#111;}
.intro dd {margin:0 0 0 90px;}

h3, h4 {font:700 12px/15px Arial, Helvetica,  sans-serif; color:#111;}

#nav {
	line-height: 20px;
	text-align: center;
	margin-right: 15px;
	margin-left: 15px;
	border-top: 1px solid;
	display: block;
	border-top-color: #666666;
}
#nav li {
	padding: 0;
	display:inline;
	list-style-type:none;
	border-left: 1px dotted;
	border-left-color: #666666;
}
#nav li a { font:100 11px/20px Tahoma, "Times New Roman", Times, serif; text-transform:uppercase; padding:2px 15px; text-align:center; color:#111; letter-spacing: 2px; margin-top: 3px; margin-left: 3px; display: inline; }
#nav li a:hover {
	color:#FFFFFF;
	background-color: #0099CC;
	text-decoration: none;
}
#nav #last { padding-right: 3px; border-right: 1px dotted #111; }

#newsletter {
	padding:5px 0 0 5px;
	border:solid 0 #eee;
	width:295px;
	background:#fafafa;
	margin-right:10px;
	float:right;
}
#newsletter h3 {color:#111; margin-bottom:10px; width:240px;}
#newsletter fieldset {width:240px; border:solid #111; border-width:0; padding:0 0 10px 0;}
#newsletter p {font-family:Arial, Helvetica,  sans-serif;}
#footer {
	clear:both;
	border-top:1px solid #111;
	margin:10px 0;
	padding-top:10px;
	height:25px;
	margin-right: 15px;
	margin-left: 10px;
}
#footer p {font-family:Arial, Helvetica,  sans-serif;}

#footer .small {text-align:right;}

ul.thumbnails {width:490px;}
.thumbnails li {float:left; margin:5px; border-bottom:0px none #111;}
.search  { color: gray; font-size: 11px; font-family: arial; background-image: url(/images/search.gif); background-repeat: repeat-x; text-align: left; width: 180px; height: 20px; }
.thumbnails a {border:1px solid #ccc; display:block; margin-bottom:5px; float:left;}
.thumbnails a:hover img {background:#eee;}
.thumbnails li p {clear:both; float:left; margin-top:-5px;}
.thumbnails h4 {clear:both;}
.thumbnails h4 a {border:0 none;}
hr {clear:both; height:0; visibility:hidden;}

legend {background:#fff; padding:3px;}
fieldset {border:solid #ccc; border-width:0; padding:10px 0;}

#contactForm label {
	float:left;
	width:90px;
	color:#000;
	margin-top:5px;
	}
	#contactForm input, #contactForm textarea {
	width:335px;
	margin:5px 0 5px 10px;
	border:1px solid #ccc;
	padding:5px;
	}
	#contactForm input.submit {
	width:auto;
	border:0 none;
	margin-left:90px;
	vertical-align:bottom;
	}
	#contactForm input#quiz {
	width:50px;
	}
	
#newsletter input {
	border:1px solid #ccc;
	padding:3px 5px 4px 5px;
	width:130px;
	margin-right:5px;
	float:left;

	}	
	#newsletter input.submit {
	background-repeat: no-repeat;
	width:auto;
	border:0;
	padding:0;
	vertical-align:bottom;
}
#workPage #header, .twoCol #header {border-bottom:1px solid #111;}
#workPage h2, .twoCol h2 {padding-bottom:15px;}
.twoCol .intro {margin-bottom:10px; padding-bottom:5px; border-bottom:1px solid #111;}
.twoCol .wide {width:500px;}

#newsPage .wide h4 {margin-top:20px;}

#current a {font-weight:700;}
.antiSpam {display:none;}

.vcard {padding:5px 0; border:solid #111; border-width:1px 0; width:255px;}
.warning {padding:5px 0 5px 10px; margin:10px 0 0 0; border:solid #c88; border-width:0 0 0 10px;}
.success  {height:250px; margin-top:10px;}
.search li {list-style-type:none; border-bottom:1px solid #eee;}
.search ul {width:180px; margin-bottom:20px;}

pre {
  background-color: #eeeeee;
  padding: 10px;
  font-size: 11px;
}


table tr th {
	font-size: 13px;
	border-bottom: 1px solid black;
}

table tr td {
	font-size: 13px;
}

a { color: #3C4F85; text-decoration: none;}
a:visited { color: #5A7FB4; text-decoration:none; }
a:hover { color: #223141;  text-decoration: none; background-color:#FF8; }

.mainframe {
	width: 1025px;
	margin: auto;
	padding: 0px;
	text-align: left;
}

.copyright {
	margin-top: 1px;
	margin-bottom: 0px;
	padding-top: 4px;
	padding-bottom: 4px;
	font-size: 10px;
	height: 90px;
	text-align: center;
	background-image: url('/images/iboard-footer.png');
	background-repeat: repeat-x;
	background-position: bottom;
}

.layout_table {
	display: table;
	margin-left: 0px;
	margin-bottom: 0px;
	padding: 10px;
	background: white;
	
	background-image: url('/images/shadow-banner.png');
	background-repeat: repeat-x;
	background-position: top;
}

.layout_row {
	display: table-row;
	margin: 0px;
	padding: 0px;
}

.banner_layout_row {
	margin: 0px;
	padding: 0px;
	background-image: url('/images/iboard-banner.png');
	background-repeat: repeat-x;
	background-position: 0 0;
}

.banner_right_layout_cell {
	background: white;
	display: table-cell;
	
}

.layout_cell {
	margin: 0px;
	padding: 0px;
	vertical-align: top;
	display: table-cell;
}

.banner {
    margin: 0px;
    padding: 0px;
	width: 100%;
	width: 820px;
	height: 80px;
}

.banner_right {
	padding: 0px;
	padding-right: 20px;
	width: 200px;
	margin: 0px;
	float: right;
	font-size: 13px;
	color: #DDD;
}
.banner_right a,
.banner_right a:link,
.banner_right a:visited
{
	color: white;
}
.rss_chooser {
	font-size: 11px;
	padding-left: 20px;
	padding-top: 5px;
}

#search_txt {
	background-image: url('/images/magnifyingglass.gif');
	background-repeat: no-repeat;
	background-position: top right;
	height: 24px;
	width: 200px;
}

.site_title {
	font-size: 14px;
	font-family: Georgia, Times, serif;
	color: #003A54;
	float:left;
	margin-left: 25px;
	margin-top: 8px;
	margin-bottom: 0px;
	line-height: 90%;
}

.postings_listing_title a:visited,
.postings_listing_title a:link,
.postings_listing_title a {
	margin-top: 8px;
	font-size: 12px;
	font-weight: bold;
}

.postings_listing_title a {
	font-size: 12px;
}

.site_title p {
	font-size: 11px;
	margin-top: -5px;
	margin-bottom: 0px;
	line-height: 90%;
	font-style: italic;
	color: #DADADA;
}
.top_menu_right {
	margin-bottom: 10px;
    height: 20px;
	border-bottom: 1px solid #888;
	min-width: 200px;
}

.top_menu_left {
	margin-bottom: 3px;
    height: 20px;
	border-bottom: 1px solid #888;
	min-width: 800px;
}

.controller_menu {
	display: table-cell;
	margin-bottom: 10px;
    height: 20px;
	min-width: 800px;
	font-size: 13px;
}

.right_menu {
	font-size: 13px;
	width: 135px;
	margin-top: -15px;
	padding-left: 5px;
	min-height: 100%;
	max-height: 100%;
	vertical-align: top;
	border-left: 4px solid #ddd;
}

.main {
	padding-right: 15px;
	width: 790px;
}

.float_right {
	float: right;
}

.float_left {
	float: left;
}

.horizontal_menu_item {
	display: inline;
	margin-right: 10px;
}

.vertical_menu_item a         { text-decoration: none; color: #000000; }
.vertical_menu_item a:visited { text-decoration: none; color: #444444; }
.vertical_menu_item a:hover   { text-decoration: none; color: #000000; background-color:#ffff88; }	

.vertial_menu_item {
}

.scaffold_table {
	width: 100%;
	margin: 0px;
	padding: 0px;
}

.scaffold_table tr td {
	border-right: 1px solid #ddd;
	border-bottom: 1px solid #888;
}

#posting_body {
	line-height: 150%;
	text-align: left;
}

.posting_frontpage_body {
	line-height: 150%;
	font-size: 13px;
	text-align: left;
}

.posting_frontpage_menu {
	font-size: 11px;
	border-top: 1px dashed #888;
	width: 200px;
}

.expired {
	color: white;
	font-size: 11px;
	font-style: italic;
	float: right;
	padding: 5px;
	border: 1px solid #888;
	background: #911;
	margin-top: -40px;
	
}

#flashes {
	width: 100%;
	margin: 0px;
}


#notice {
	border: 1px solid #888;
	padding: 10px;
	background: #FFFFCC;
}

#error {
	border: 1px solid #888;
	padding: 10px;
	background: #800000;
	color: #fff;
}

#ok {
	border: 1px solid #888;
	padding: 10px;
	background:#008080;
	color: #fff;	
}
#login {
	padding-left: 30%;
	padding-right:30%;
}

.content_hr {
	clear: both;
	padding:0px;
	margin:0px;
	margin-top: 20px;

	margin-bottom: 3px;
}

.menu_subject {
	margin-top: 10px;
	margin-bottom: 5px;
	font-weight: bold;
}

.username_in_menu {
	font-style: italic;
	font-size: 11px;
	margin: 0px;
	margin-bottom: 5px;
}

.right_box {
	float: right;
	width: 45%;
	border: 1px dashed #eee;
	padding: 10px;
	margin-left: 5px;
}

.right_box_small {
	float: right;
	width: 200px;
	border: 1px dashed #eee;
	padding: 10px;
	margin-left: 5px;
	
}

#edit_buttons {
	width: 100%;
	font-size: 11px;
	padding: 5px;
	border: 1px dotted #888;
	margin-bottom: 5px;
}

.top_buttons_right {
	float: rigth;
	padding: 10px;
	text-align: right;
}

.link_button a {
	text-decoration: none;
	font-size: smaller;
}
.link_button {
	display: inline;
	padding: 5px;
	border: 1px solid #444;
	margin: 2px;
}

.small_check_boxes {
	font-size: 11px;
}

.posting_title {
	font-size: 12px;
	font-weight: bold;
	margin-bottom: 5px;
}

.posting_body {
	font-size: 13px;
	font-weight: normal;
}

.posting_listing {
	font-size: 13px;
	margin-bottom: 5px;
}

#spotlight {
	font-size: 11px;
}

#postings_order {
	border: 1px solid black;
	padding: 10px;
}

.thumbnail {
	border: 1px solid black;
	margin: 5px;
}

.picture_overlay a {
	z-index: 4;
	background: white;
	opacity: 1.0; 
}

#page_introduction {
	font-family: Georgia, Times;
	line-height: 135%;
	font-size: 14px;
	margin-bottom: 10px;
	border-bottom: 1px solid #ddd;
}

.created_at {
	font-size: 10px;
	font-style: italic;
	color: #C9D4A0;
	margin-top: 0px;
	line-height: 95%;
}

.form_field {
	margin-bottom: 10px;
}

.description {
	margin-bottom: 10px;
}

.description p {
	padding-left: 20px;
}

#progress_bar {
	padding: 10px;
	background: #ff8;
	border: 1px solid black;
}


#published_pages_list {
	margin-top: 140px;
	margin-bottom: 0px;
	clear: left;
	font-size: small;
}

.shadow_table {
	display: table;
}
.shadow_above_row {
	display: table-row;
}
.shadow_upper_left {
	display: table-cell;
}
.shadow_upper_middle {
	display: table-cell;
}
.shadow_upper_right {
	display: table-cell;
}

.shadow_content_row {
	display: table-row;
}
.shadow_content_left {
	display: table-cell;
}
.shadow_content {
	display: table-cell;
}
.shadow_content_right {
	display: table-cell;
}

.shadow_below_row {
	display: table-row;
}

.shadow_below_left {
	display: table-cell;
}

.shadow_below_middle {
	display: table-cell;
}

.shadow_below_right {
	display: table-cell;
}

.show_posting h2 a {
	font-size: 14px;
	padding-left: 0px;
	margin-left: 0px;
}
.show_posting {
}

.rating_star {
	display: inline;
}
.rating_and_comments {
	display: inline;
}

.sortable_menu_items {
	display: inline;
}

.sortable_menu  {
	margin-left: 0px;
	padding-left: 0px;
	display: inline;
}

.main_menu_item {
	display: inline;
	margin-left: 0px;
	padding-left: 0px;
}

.last_line {
	font-size: 9px;
}
