<div id='edit_buttons'>
    <%= _('Layout/Columns') -%>:<br/>
    <%= link_to icon('column-add.png',_('Add column')), add_column_page_path(@page) -%>
    <%= link_to icon('column-edit.png',_('Edit columns')), edit_columns_page_path(@page) -%>
    <%= link_to icon('page-edit.png',_('Edit page')), edit_page_path(@page) -%>
</div>