<% if (not @survey.new_record?) %>
  <div style="width: 100%; display: table;">
    <%- for question in @survey.survey_questions -%>
      <div style="display: table-row;" onmouseover="Element.setStyle(this, 'background: #eee;');"
        onmouseout="Element.setStyle(this,'background: white;');"
      >
        <div style="display: table-cell;">
          <p><b><%= question.question %></b></p>
        </div>
        <div style="display: table-cell;">
            <%= case question.qtype
            when 0
                _('Textfield')
            when 1 
                _('Select one')
            when 2
                _('Multiple choice')
            else
                _('unkown type')
            end
            -%>
        </div>
        <div style="display: table-cell;">
          <p><%= question.values -%></p>
        </div>
        <div style="display: table-cell;">
          <p><%= link_to _('Delete'), destroy_question_survey_path(question), 
                 :confirm => _('Are you shure?'),
                 :method => :put -%>
        </div>
      </div>
    <%- end -%>
  </div>
<% end %>
