<h1><%= _('Thank you!')%></h1>
<%= _('Your donation will help us to develop iBoard.cc. If you have any feature request don\'t hesitate to drop me an email to andi@iboard.cc') -%>
<!--
  <%= debug request %>
  .-.-.-.-.-.-.-.-.-.-.-.-.
  <%= debug params -%>
-->
